<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
    <img src="assets/img/banner-ico.png" width="30" height="30" alt="">
    <h1>Palanaeum</h1>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Recomendaciones </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['contacto']"> Contacto</a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['preguntas']"> Preguntas frecuentes</a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['search']">Buscar </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['qrcodigo']">CodigoQr </a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Buscar Heore"
      #buscarTexto (keyup.enter)="buscar(buscarTexto.value)">
      <button (click)="buscar(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
      <div *ngIf="this.banderaNombre" class="alert alert-danger animated fadeIn fadeOut" role="alert">
        Seguro que escribiste bien el nombre?
      </div>-->
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link btn btn-outline-success my-2 my-sm-0" [routerLink]="['login']">Iniciar secion </a>
      </li>
    </div>

  </div>
</nav>
